body{
    background-color:#d9d9d9;
    margin:0;
}
.card
{
    background-color:white;
    height: 580px;
    width:580px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 90px;
    margin-bottom: 90px;
    border-radius:4px;
    padding:3px;
}
.img-link{
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:50px;
    margin-top:60px;
    margin-bottom:5px;
   
}
.heading-card-title
{
    text-align:center;
    font-size:30px;
    margin:auto;
    padding:16px;

}

.text-descriptor
{
    text-align:center;
    font-size:18px;
    margin:auto;
    margin-top: 4px;
    margin-bottom: 8px;
    padding:4px;
}
.tab-container
{

    height:40px;
    width:350px;
    margin-left: auto;
    margin-right:auto ;
    margin-top:5px;
    padding-top: 5px;
}
.tab-left
{
    
    background-color: #f1f1f4;
}

.tab-right
{
  
    background-color: white;

}

.tab{
    font-size:17px;
    height:24px;
    width:157px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:5px;
    padding-right:5px;
    display:inline-block; 
    text-align:center;
    margin-top:5px;
    border: 0.5px solid rgb(180, 187, 187);
    border-radius: 3px;


}

.img-copy{

padding-left:0px;
padding-bottom:0px;
padding-top: 0px;
padding-right:0px;
height:18x;
width: 19px;
text-align: center;
}

.tab-tab-container
{
 background-image:url("1.png");
 background-position: right;
    height:260px;
    background-repeat: no-repeat;
    width:580px;
    margin-left:0px;
    margin-right:0px ;
    margin-top:40px;
    margin-bottom: 0px;
    padding:2px;
}


.tab-tab-heading-container-left
{
    text-align:left;
    font-size:19px;
    padding-top: 40px;
  padding-left:25px;
 border-top:lightgray solid 2px;
  margin-top: 20px ;


}
 
.tab-tab-descriptor
{
    text-align:left;
    font-size:18px;
    padding-top: 0px;
  padding-left:2px;
  padding-right:280px ;
   
}
.button{
color:white;
background-color:rgb(16, 192, 16);
font-size: 16px;
font-family: Verdana, sans-serif;

height: 34px;
width: 200px;
padding-bottom:1px;
padding-left: 4px;
padding-right: 4px;
padding-top: 4px;
border-radius:3px ;
margin-right: 290px;
margin-top:0px ;
margin-bottom: 2px;
text-align: center;
}
